{% extends "layout.html" %}

{% block main %}
        <h2>Objective</h2>
                <p style = "text-align : justify;">
                    This page offer service as home, psychological assistance and legal advice for women who are living a case of domestic violence in Colombia.        
                </p>
        <h3>Strategy</h3>        
                 <p style = "text-align : justify;">
                Women who are living a case of domestic violence can found a home to live in different places in the country to live with their children,
                also they can program meetings with psychologist and lawyers to solve their situation.
                 </p>
                 <p style = "text-align : justify;">
                 The houses belong to women who are volunteer and want to fight against domestic violence in Colombia.
                 They can register their house in the page.
                 </p>
        <img class = "centrado" src="/static/casa.png" alt="Logo" > 
{% endblock %}